### íŒë‹¤ìŠ¤ íŒ¨í‚¤ì§€
ë°ì´í„°ë¥¼ ì‹œê³„ì—´ì´ë‚˜ í‘œë¡œ í‘œí˜„í•˜ê¸° ìœ„í•œ íŒ¨í‚¤ì§€   
ì‹œê³„ì—´ì„ í‘œí˜„í•˜ëŠ” `Series` í´ë˜ìŠ¤ì™€ í‘œë¡œ í‘œí˜„í•˜ëŠ” `DataFrame` í´ë˜ìŠ¤ ì¡´ì¬í•¨   

íŒë‹¤ìŠ¤ íŒ¨í‚¤ì§€ë¥¼ ì‚¬ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” íŒ¨í‚¤ì§€ë¥¼ ì„¤ì¹˜í•´ì•¼í•¨
```bash
pip install pandas
```

íŒ¨í‚¤ì§€ë¥¼ ì„í¬íŠ¸í•  ë•ŒëŠ” 
```python
import pandas
import pandas as pd
```

pandas 3.0 ì´ìƒ ë²„ì „ ë¶€í„°ëŠ” Pyarrow íŒ¨í‚¤ì§€ê°€ í•„ìˆ˜ ì˜ì¡´ íŒ¨í‚¤ì§€ë¡œ ì§€ì •ë˜ì–´ ì¡´ì¬í•˜ì§€ ì•Šìœ¼ë©´
```bash
pip install pyarrow
```
ë¡œ Pyarrow ì„¤ì¹˜ ê¶Œì¥

In [3]:
import pandas as pd

### ì‹œë¦¬ì¦ˆ í´ë˜ìŠ¤
1ì°¨ì›ì˜ ì‹œê³„ì—´ ë°ì´í„°ë¥¼ í‘œí˜„í•˜ê³ ì í•  ë•Œ ì‚¬ìš©í•˜ëŠ” í´ë˜ìŠ¤ë¡œ ì¸ë±ìŠ¤ì™€ ê°’ì´ í•œ ìŒìœ¼ë¡œ ë‚˜ì—´ë˜ ìˆëŠ” í˜•íƒœ   
ì‹œë¦¬ì¦ˆë¥¼ ìƒì„±í•˜ëŠ” ë°©ë²• : pandas íŒ¨í‚¤ì§€ì˜ `Series` í´ë˜ìŠ¤ì˜ ìƒì„±ìë¡œ ê°’ê³¼ ì¸ë±ìŠ¤ì— ëŒ€í•œ ë°°ì—´ í˜¹ì€ ë¦¬ìŠ¤íŠ¸ë¥¼ ì „ë‹¬í•˜ë©´ ìƒì„±í•  ìˆ˜ ìˆìŒ

In [94]:
# ì¸ë±ìŠ¤ ë°°ì—´ì˜ ìš”ì†ŒëŠ” ì¤‘ë³µì´ ë˜ì–´ë„ ë¨ 
scores = pd.Series([85, 70, 100, 90, 55], index=['í™ê¸¸ë™', 'ê¹€ì² ìˆ˜', 'ì´ì˜í¬', 'ìµœë¯¼ìˆ˜', 'í™ê¸¸ë™'])
scores

í™ê¸¸ë™     85
ê¹€ì² ìˆ˜     70
ì´ì˜í¬    100
ìµœë¯¼ìˆ˜     90
í™ê¸¸ë™     55
dtype: int64

In [75]:
# indexë¥¼ ì§€ì •í•˜ì§€ ì•Šìœ¼ë©´ 0ë¶€í„° ì‹œì‘í•˜ëŠ” ì •ìˆ˜ì˜ ì¸ë±ìŠ¤ ê°’ì´ ìë™ìœ¼ë¡œ ìƒì„±ë¨ 
scores =pd.Series([85, 70, 100, 90, 55])
scores

0     85
1     70
2    100
3     90
4     55
dtype: int64

Series ê°ì²´ì˜ indexì™€ values ë“¤ì„ ë³´ê³ ì í•œë‹¤ë©´ `index` ì†ì„±ê³¼ `values` ì†ì„±ìœ¼ë¡œ í™•ì¸í•  ìˆ˜ ìˆìŒ

In [95]:
scores.index

Index(['í™ê¸¸ë™', 'ê¹€ì² ìˆ˜', 'ì´ì˜í¬', 'ìµœë¯¼ìˆ˜', 'í™ê¸¸ë™'], dtype='object')

In [9]:
scores.values

array([ 85,  70, 100,  90,  55], dtype=int64)

`name` ì†ì„±ìœ¼ë¡œ valuesì— ëŒ€í•œ ì´ë¦„ì„ ë¶€ì—¬í•  ìˆ˜ ìˆìŒ   
`index.name` ì†ì„±ìœ¼ë¡œ indexì— ëŒ€í•œ ì´ë¦„ì„ ë¶€ì—¬í•  ìˆ˜ ìˆìŒ

In [68]:
scores.name = 'ì ìˆ˜'
scores.index.name = 'ì´ë¦„'
scores

ì´ë¦„
í™ê¸¸ë™     85
ê¹€ì² ìˆ˜     70
ì´ì˜í¬    100
ìµœë¯¼ìˆ˜     90
ë°•ì§€ì„±     55
Name: ì ìˆ˜, dtype: int64

In [88]:
scores.index.name = 'í™ê¸¸ë™'
scores

í™ê¸¸ë™
í™ê¸¸ë™     85
ê¹€ì² ìˆ˜     70
ì´ì˜í¬    100
ìµœë¯¼ìˆ˜     90
ë°•ì§€ì„±     55
dtype: int64

ì‹œë¦¬ì¦ˆë„ numpy ë°°ì—´ê³¼ ê°™ì´ ë²¡í„°í™” ì—°ì‚°ì´ ê°€ëŠ¥í•¨   
ë‹¨, ì—°ì‚° ì‘ì—…ì€ ê°’ì—ë§Œ ì ìš©ë¨

In [29]:
scores * 0.4

í™ê¸¸ë™    34.0
ê¹€ì² ìˆ˜    28.0
ì´ì˜í¬    40.0
ìµœë¯¼ìˆ˜    36.0
ë°•ì§€ì„±    22.0
dtype: float64

In [30]:
scores >= 60

í™ê¸¸ë™     True
ê¹€ì² ìˆ˜     True
ì´ì˜í¬     True
ìµœë¯¼ìˆ˜     True
ë°•ì§€ì„±    False
dtype: bool

In [73]:
scores2 = pd.Series([60, 100, 90, 70, 95], index=['í™ê¸¸ë™', 'ê¹€ì² ìˆ˜', 'ì´ì˜í¬', 'ìµœë¯¼ìˆ˜', 'ë°•ì§€ì„±'])
scores2

í™ê¸¸ë™     60
ê¹€ì² ìˆ˜    100
ì´ì˜í¬     90
ìµœë¯¼ìˆ˜     70
ë°•ì§€ì„±     95
dtype: int64

In [49]:
scores + scores2

í™ê¸¸ë™
í™ê¸¸ë™    145
ê¹€ì² ìˆ˜    170
ì´ì˜í¬    190
ìµœë¯¼ìˆ˜    160
ë°•ì§€ì„±    150
dtype: int64

#### ì‹œë¦¬ì¦ˆ ì¸ë±ì‹± 
ì‹œë¦¬ì¦ˆë„ ë¦¬ìŠ¤íŠ¸ë‚˜ ë°°ì—´ê³¼ ê°™ì´ ì¸ë±ìŠ¤ ë²ˆí˜¸ë¡œ ì ‘ê·¼ì´ ê°€ëŠ¥   
ë‹¨, ì‹œë¦¬ì¦ˆëŠ” index ê°’ìœ¼ë¡œë„ ì ‘ê·¼ì´ ê°€ëŠ¥    
ë°°ì—´ ì¸ë±ì‹±ì´ë‚˜ ìŠ¬ë¼ì´ì‹± ëª¨ë‘ ê°€ëŠ¥

In [78]:
scores[1], scores['ê¹€ì² ìˆ˜']

C:\Users\ITPS\AppData\Local\Temp\ipykernel_8968\3808992018.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  scores[1], scores['ê¹€ì² ìˆ˜']

(70, 70)

ë°°ì—´ ì¸ë±ì‹±ì„ ì‚¬ìš©í•˜ì—¬ ìë£Œì˜ ìˆœì„œë¥¼ ë°”ê¾¸ê±°ë‚˜ íŠ¹ì •í•œ ìë£Œë§Œ ì„ íƒí•˜ì—¬ ì‹œë¦¬ì¦ˆ ê°ì²´ë¥¼ ìƒì„±í•  ìˆ˜ ìˆë‹¤.

In [42]:
scores[[0, 3, 1]]

C:\Users\ITPS\AppData\Local\Temp\ipykernel_8968\2844775243.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  scores[[0, 3, 1]]

í™ê¸¸ë™    85
ìµœë¯¼ìˆ˜    90
ê¹€ì² ìˆ˜    70
dtype: int64

In [50]:
scores[['í™ê¸¸ë™', 'ìµœë¯¼ìˆ˜', 'ê¹€ì² ìˆ˜']]

í™ê¸¸ë™
í™ê¸¸ë™    85
ìµœë¯¼ìˆ˜    90
ê¹€ì² ìˆ˜    70
dtype: int64

In [51]:
scores[scores < 70]

í™ê¸¸ë™
ë°•ì§€ì„±    55
dtype: int64

ì‹œë¦¬ì¦ˆ ê°ì²´ë„ ìŠ¬ë¼ì´ì‹±ì´ ê°€ëŠ¥í•œë° ì¸ë±ìŠ¤ì˜ ì´ë¦„(ë¼ë²¨)ìœ¼ë¡œ ìŠ¬ë¼ì´ì‹±í•  ë•ŒëŠ” ì¸ë±ìŠ¤ ë²ˆí˜¸ë¡œ ìŠ¬ë¼ì´ì‹±í•  ë•Œì™€ ë‹¤ë¥´ê²Œ ë§ˆì§€ë§‰ ì¸ë±ìŠ¤ ê°’ë„ í¬í•¨í•´ì„œ ë°˜í™˜

In [52]:
scores[1:3]

í™ê¸¸ë™
ê¹€ì² ìˆ˜     70
ì´ì˜í¬    100
dtype: int64

In [53]:
scores['ê¹€ì² ìˆ˜':'ìµœë¯¼ìˆ˜']

í™ê¸¸ë™
ê¹€ì² ìˆ˜     70
ì´ì˜í¬    100
ìµœë¯¼ìˆ˜     90
dtype: int64

ì‹œë¦¬ì¦ˆ ê°ì²´ì˜ ë¼ë²¨ì´ ì˜ë¬¸ìë¡œ ì´ë£¨ì–´ì ¸ ìˆë‹¤ë©´ ê°ì²´ì˜ ì†ì„±ì— ì ‘ê·¼í•˜ëŠ” ê²ƒê³¼ ê°™ì€ ë°©ë²•ìœ¼ë¡œ ì ‘ê·¼í•  ìˆ˜ ìˆìŒ

In [54]:
s0 = pd.Series(range(3), index=['a', 'b', 'c'])
s0

a    0
b    1
c    2
dtype: int64

In [55]:
s0.a, s0.b

(0, 1)

#### ì‹œë¦¬ì¦ˆì™€ ë”•ì…”ë„ˆë¦¬
ì‹œë¦¬ì¦ˆëŠ” ì¸ë±ìŠ¤ì˜ ì´ë¦„(ë¼ë²¨)ê³¼ ê°’ì´ í•œìŒìœ¼ë¡œ ì´ë£¨ì–´ì ¸ì„œ ê´€ë¦¬ë˜ì–´ ìëŠ”ë°, ì´ëŠ” íŒŒì´ì¬ì˜ ê¸°ë³¸ ìë£Œêµ¬ì¡°ì¸ í‚¤ì™€ ê°’ì„ í•œ ìŒìœ¼ë¡œ ê´€ë¦¬í•˜ëŠ” ë”•ì…”ë„ˆë¦¬ì™€ ë¹„ìŠ·í•¨ 

ì‹œë¦¬ì¦ˆ ê°ì²´ë„ ë”•ì…”ë„ˆë¦¬ì—ì„œ ì‚¬ìš©ê°€ëŠ¥í•œ `in` ì—°ì‚°ê³¼ `items()` ë©”ì„œë“œë¥¼ ì‚¬ìš©í•  ìˆ˜ ìˆìŒ

In [56]:
'ì´ì¬ìš©' in scores

False

In [57]:
'í™ê¸¸ë™' in scores

True

In [60]:
for label, value in scores.items():
    print(f"{label}:{value}")

í™ê¸¸ë™:85
ê¹€ì² ìˆ˜:70
ì´ì˜í¬:100
ìµœë¯¼ìˆ˜:90
ë°•ì§€ì„±:55

ì‹œë¦¬ì¦ˆ ê°ì²´ëŠ” ë”•ì…”ë„ˆë¦¬ ê°ì²´ë¡œ ì§ì ‘ ìƒì„±í•  ìˆ˜ ìˆìŒ  
ë‹¨, ë”•ì…”ë„ˆë¦¬ ê°ì²´ëŠ” ìˆœì„œê°€ ë³´ì¥ë˜ì§€ ì•Šê¸° ë•Œë¬¸ì— ìˆœì„œë¥¼ ê²°ì •í•˜ê³  ì‹¶ë‹¤ë©´ `index` ë§¤ê°œë³€ìˆ˜ì— ìˆœì„œë¥¼ ì •í•œ ì¸ë±ìŠ¤ ë°°ì—´ ë˜ëŠ” ë¦¬ìŠ¤íŠ¸ë¥¼ ì „ë‹¬í•´ì•¼ í•¨

In [61]:
scores2 = pd.Series({'í™ê¸¸ë™' : 60, 'ê¹€ì² ìˆ˜' : 90, 'ì´ì¬ìš©' : 100, 'ê¶Œì§€ìš©' : 75})
scores2

í™ê¸¸ë™     60
ê¹€ì² ìˆ˜     90
ì´ì¬ìš©    100
ê¶Œì§€ìš©     75
dtype: int64

In [79]:
scores2 = pd.Series({'í™ê¸¸ë™' : 60, 'ê¹€ì² ìˆ˜' : 90, 'ì´ì¬ìš©' : 100, 'ê¶Œì§€ìš©' : 75}, index=['ê¶Œì§€ìš©', 'ê¹€ì² ìˆ˜', 'ì´ì¬ìš©', 'ë°•ì§€ì„±'])
scores2

ê¶Œì§€ìš©     75.0
ê¹€ì² ìˆ˜     90.0
ì´ì¬ìš©    100.0
ë°•ì§€ì„±      NaN
dtype: float64

#### ì¸ë±ìŠ¤ ê¸°ë°˜ ì—°ì‚°
ë‘ ì‹œë¦¬ì¦ˆ ê°ì²´ê°„ì— ì—°ì‚°ì„ ì§„í–‰í•˜ë©´ ì¸ë±ìŠ¤ê°€ ê°™ì€ ë°ì´í„°ì— ëŒ€í•´ì„œë§Œ ì—°ì‚°ì„ ì§„í–‰í•¨  
ì‹œë¦¬ì¦ˆ ëª¨ë‘ì— ì¡´ì¬í•˜ì§€ ì•ŠëŠ” ì¸ë±ìŠ¤ `NaN`ìœ¼ë¡œ í‘œì‹œ ë¨

In [81]:
score_sums = scores + scores2
score_sums

ê¶Œì§€ìš©      NaN
ê¹€ì² ìˆ˜    160.0
ë°•ì§€ì„±      NaN
ì´ì˜í¬      NaN
ì´ì¬ìš©      NaN
ìµœë¯¼ìˆ˜      NaN
í™ê¸¸ë™      NaN
dtype: float64

ê°’ë“¤ ë¼ë¦¬ì˜ ì—°ì‚°ì—ì„œëŠ” ë™ì¼í•˜ê²Œ ì¡´ì¬í•˜ëŠ” ì¸ë±ìŠ¤ì˜ ê°’ë“¤ì— ëŒ€í•´ì„œë§Œ ë‚˜íƒ€ë‚¨   
(ê¸¸ì´ê°€ ë‹¤ë¥¸ ê°’ë“¤ì— ëŒ€í•´ì„œëŠ” ì—°ì‚° ë¶ˆê°€)

In [64]:
scores.values + scores2.values

ValueError: operands could not be broadcast together with shapes (5,) (4,)

ì‹œë¦¬ì¦ˆ ê°ì²´ì—ì„œ ê°’ì´ `NaN`ì¸ì§€ ì•„ë‹Œì§€ êµ¬í•˜ë ¤ë©´ `notnull()` ë©”ì„œë“œë¥¼ ì‚¬ìš©í•  ìˆ˜ ìˆìŒ

In [66]:
score_sums[score_sums.notnull()]

ê¹€ì² ìˆ˜    160.0
dtype: float64

#### ë°ì´í„° ê°±ì‹ , ì¶”ê°€, ì‚­ì œ
ë”•ì…”ë„ˆë¦¬ì™€ ê°™ì€ ë°©ë²•ìœ¼ë¡œ ë°ì´í„°ë¥¼ ê°±ì‹ , ì¶”ê°€, ì‚­ì œë¥¼ í•  ìˆ˜ ìˆìŒ

In [82]:
score_sums['ê¹€ì² ìˆ˜'] = 120
score_sums

ê¶Œì§€ìš©      NaN
ê¹€ì² ìˆ˜    120.0
ë°•ì§€ì„±      NaN
ì´ì˜í¬      NaN
ì´ì¬ìš©      NaN
ìµœë¯¼ìˆ˜      NaN
í™ê¸¸ë™      NaN
dtype: float64

In [99]:
score_sums['ë‚¨ê¶ì„ '] = 100
score_sums

ê¶Œì§€ìš©      NaN
ê¹€ì² ìˆ˜    120.0
ë°•ì§€ì„±      NaN
ì´ì˜í¬      NaN
ë‚¨ê¶ì„     100.0
dtype: float64

In [ ]:
del score_sums['ì´ì¬ìš©']
score_sums

In [ ]:
score_sums.pop('ìµœë¯¼ìˆ˜')

In [ ]:
score_sums.pop('í™ê¸¸ë™')

In [102]:
score_sums

ê¶Œì§€ìš©      NaN
ê¹€ì² ìˆ˜    120.0
ë°•ì§€ì„±      NaN
ì´ì˜í¬      NaN
ë‚¨ê¶ì„     100.0
dtype: float64

In [ ]:
score_sums.add()

**íŒŒì´ì¬ìœ¼ë¡œ ë‹¤ìŒ ì—°ì‚°ì„ ìˆ˜í–‰í•œë‹¤.**

1. ì„ì˜ë¡œ ë‘ ê°œì˜ ì‹œë¦¬ì¦ˆ ê°ì²´ë¥¼ ë§Œë“ ë‹¤.ğŸ™„  
ëª¨ë‘ ë¬¸ìì—´ ì¸ë±ìŠ¤ë¥¼ ê°€ì ¸ì•¼ í•˜ë©° ë‘ ì‹œë¦¬ì¦ˆì— ê³µí†µì ìœ¼ë¡œ í¬í•¨ë˜ì§€ ì•ŠëŠ” ë¼ë²¨ì´ ìˆì–´ì•¼ í•œë‹¤.ğŸ¤”  

ë”•ì…”ë„ˆë¦¬ store1 = {
'apple': 500,
'banana': 3000,
'carrot': 1000
}

ë”•ì…”ë„ˆë¦¬ store2 = {
'apple': 800,
'banana': 2500,
'dabai': 5000
}

2. ìœ„ì—ì„œ ë§Œë“  ë‘ ì‹œë¦¬ì¦ˆ ê°ì²´ë¥¼ ì´ìš©í•˜ì—¬ ì‚¬ì¹™ ì—°ì‚°ì„ í•œë‹¤.  
ê²¹ì¹˜ì§€ ì•ŠëŠ” ì¸ë±ìŠ¤ì— ëŒ€í•´ì„œ NaNìœ¼ë¡œ í‘œì‹œí•˜ëŠ” ì‹œë¦¬ì¦ˆ ê°ì²´ë“¤ê³¼ ê²¹ì¹˜ëŠ” ì¸ë±ìŠ¤ë§Œ í‘œì‹œí•˜ëŠ” ì‹œë¦¬ì¦ˆ ê°ì²´ë¥¼ ëª¨ë‘ ìƒì„±í•œë‹¤.

In [131]:
store1 = {
'apple': 500,
'banana': 3000,
'carrot': 1000
}

store1

{'apple': 500, 'banana': 3000, 'carrot': 1000}

In [134]:
store1_series = pd.Series(store1)
store1_series

apple      500
banana    3000
carrot    1000
dtype: int64

In [135]:
store2 = {
'apple': 800,
'banana': 2500,
'dabai': 5000
}

store2

{'apple': 800, 'banana': 2500, 'dabai': 5000}

In [136]:
store2_series = pd.Series(store2)
store2_series

apple      800
banana    2500
dabai     5000
dtype: int64

In [137]:
plus_nan_series = store1_series + store2_series
plus_nan_series

apple     1300.0
banana    5500.0
carrot       NaN
dabai        NaN
dtype: float64

In [138]:
minus_nan_series = store1_series - store2_series
minus_nan_series

apple    -300.0
banana    500.0
carrot      NaN
dabai       NaN
dtype: float64

In [139]:
plus_series = plus_nan_series[plus_nan_series.notnull()]
plus_series

apple     1300.0
banana    5500.0
dtype: float64

In [140]:
minus_series = minus_nan_series[minus_nan_series.notnull()]
minus_series

apple    -300.0
banana    500.0
dtype: float64

### ë°ì´í„°í”„ë ˆì„ í´ë˜ìŠ¤ 
2ì°¨ì› í˜•íƒœì˜ í–‰ë ¬ì— ì—´ê³¼ í–‰ì— ëŒ€í•œ ì¸ë±ìŠ¤ê°€ ë¶™ì€ í˜•íƒœ ì¦‰, í‘œ(table)

#### ë°ì´í„°í”„ë ˆì„ ìƒì„± ë°©ë²•
1. ì—´ ì¸ë±ìŠ¤ ë°°ì—´ í˜¹ì€ ë¦¬ìŠ¤íŠ¸ë¥¼ ìƒì„±
2. í–‰ ì¸ë±ìŠ¤ ë°°ì—´ í˜¹ì€ ë¦¬ìŠ¤íŠ¸ë¥¼ ìƒì„±
3. ê° ì—´ê³¼ í–‰ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ë¥¼ ê°€ì§€ê³  ìˆëŠ” ë”•ì…”ë„ˆë¦¬ë¥¼ ìƒì„±
4. pandas íŒ¨í‚¤ì§€ì˜ DataFrame í´ë˜ìŠ¤ì˜ ìƒì„±ìë¡œ ë°ì´í„° ë”•ì…”ë„ˆë¦¬ì™€ í–‰ ì¸ë±ìŠ¤, ì—´ ì¸ë±ìŠ¤ë¥¼ ì „ë‹¬í•˜ì—¬ ìƒì„±

In [20]:
columns = ['ì§€ì—­', '2000', '2005', '2010', '2015', '2010-2015 ì¦ê°€ìœ¨']
index = ['ì„œìš¸', 'ë¶€ì‚°', 'ì¸ì²œ', 'ëŒ€êµ¬']
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "ì§€ì—­": ["ìˆ˜ë„ê¶Œ", "ê²½ìƒê¶Œ", "ìˆ˜ë„ê¶Œ", "ê²½ìƒê¶Œ"],
    "2010-2015 ì¦ê°€ìœ¨": [0.0283, 0.0163, 0.0982, 0.0141]
}

df = pd.DataFrame(data, index=index, columns=columns)
df

     ì§€ì—­     2000     2005     2010     2015  2010-2015 ì¦ê°€ìœ¨
ì„œìš¸  ìˆ˜ë„ê¶Œ  9853972  9762546  9631482  9904312         0.0283
ë¶€ì‚°  ê²½ìƒê¶Œ  3655437  3512547  3393191  3448737         0.0163
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2466338  2517680  2632035  2890451         0.0982
ëŒ€êµ¬  ê²½ìƒê¶Œ  2473990  2456016  2431774  2466052         0.0141

`values` ì†ì„± : ë°ì´í„°ì— ëŒ€í•œ ë°°ì—´ ë°˜í™˜  
`columns` ì†ì„± : ì—´ ì¸ë±ìŠ¤ì— ëŒ€í•œ ë°°ì—´ ë°˜í™˜  
`index` ì†ì„± : í–‰ ì¸ë±ìŠ¤ì— ëŒ€í•œ ë°°ì—´ ë°˜í™˜

In [9]:
df.values

array([['ìˆ˜ë„ê¶Œ', 9853972, 9762546, 9631482, 9904312, 0.0283],
       ['ê²½ìƒê¶Œ', 3655437, 3512547, 3393191, 3448737, 0.0163],
       ['ìˆ˜ë„ê¶Œ', 2466338, 2517680, 2632035, 2890451, 0.0982],
       ['ê²½ìƒê¶Œ', 2473990, 2456016, 2431774, 2466052, 0.0141]], dtype=object)

In [10]:
df.columns

Index(['ì§€ì—­', '2000', '2005', '2010', '2015', '2010-2015 ì¦ê°€ìœ¨'], dtype='object')

ì—´ ì¸ë±ìŠ¤ì™€ í–‰ ì¸ë±ìŠ¤ì— ì´ë¦„ì„ ë¶€ì—¬í•  ìˆ˜ ìˆìŒ

In [21]:
df.index.name = "ë„ì‹œ"
df.columns.name = "íŠ¹ì„±"
df

íŠ¹ì„±   ì§€ì—­     2000     2005     2010     2015  2010-2015 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9853972  9762546  9631482  9904312         0.0283
ë¶€ì‚°  ê²½ìƒê¶Œ  3655437  3512547  3393191  3448737         0.0163
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2466338  2517680  2632035  2890451         0.0982
ëŒ€êµ¬  ê²½ìƒê¶Œ  2473990  2456016  2431774  2466052         0.0141

ë°ì´í„°í”„ë ˆì„ì€ ë„˜íŒŒì´ 2ì°¨ì› ë°°ì—´ì´ ì œê³µí•˜ëŠ” ëŒ€ë¶€ë¶„ì˜ ì†ì„±ê³¼ ë©”ì„œë“œë¥¼ ì§€ì›í•¨

In [12]:
df.T

ë„ì‹œ                  ì„œìš¸       ë¶€ì‚°       ì¸ì²œ       ëŒ€êµ¬
íŠ¹ì„±
ì§€ì—­                 ìˆ˜ë„ê¶Œ      ê²½ìƒê¶Œ      ìˆ˜ë„ê¶Œ      ê²½ìƒê¶Œ
2000           9853972  3655437  2466338  2473990
2005           9762546  3512547  2517680  2456016
2010           9631482  3393191  2632035  2431774
2015           9904312  3448737  2890451  2466052
2010-2015 ì¦ê°€ìœ¨   0.0283   0.0163   0.0982   0.0141

In [19]:
practice_columns = ['ì§€ì—­', 'ìµœì €ê¸°ì˜¨', 'ìµœê³ ê¸°ì˜¨', 'ì˜¤ì „ ê°•ìˆ˜í™•ë¥ ', 'ì˜¤í›„ ê°•ìˆ˜í™•ë¥ ']
practice_data = {
    'ì§€ì—­' : ['ì„œìš¸', 'ì¸ì²œ', 'ë¶€ì‚°', 'ìš¸ì‚°', 'ëŒ€êµ¬'],
    'ìµœì €ê¸°ì˜¨' : [-2, -1, 2, 3 ,1],
    'ìµœê³ ê¸°ì˜¨' : [7, 6, 9, 7, 1],
    'ì˜¤ì „ ê°•ìˆ˜í™•ë¥ ' : [0.2, 0.2, 0.3, 0.3, 0.3],
    'ì˜¤í›„ ê°•ìˆ˜í™•ë¥ ' : [0.6, 0.6, 0.6, 0.6 ,0.6]
}

practice_df = pd.DataFrame(practice_data, columns=practice_columns) 
practice_df

   ì§€ì—­  ìµœì €ê¸°ì˜¨  ìµœê³ ê¸°ì˜¨  ì˜¤ì „ ê°•ìˆ˜í™•ë¥   ì˜¤í›„ ê°•ìˆ˜í™•ë¥
0  ì„œìš¸    -2     7      0.2      0.6
1  ì¸ì²œ    -1     6      0.2      0.6
2  ë¶€ì‚°     2     9      0.3      0.6
3  ìš¸ì‚°     3     7      0.3      0.6
4  ëŒ€êµ¬     1     1      0.3      0.6

#### ì—´ ë°ì´í„° ê°±ì‹ , ì¶”ê°€, ì‚­ì œ
ë°ì´í„°í”„ë ˆì„ì€ ì—´ ë‹¨ìœ„ë¡œ ë°ì´í„°ë¥¼ ì¶”ê°€, ìˆ˜ì •, ì‚­ì œ í•  ìˆ˜ ìˆìŒ

In [22]:
# ìˆ˜ì •(ê°±ì‹ )
df['2010-2015 ì¦ê°€ìœ¨'] = df['2010-2015 ì¦ê°€ìœ¨'] * 100
df

íŠ¹ì„±   ì§€ì—­     2000     2005     2010     2015  2010-2015 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9853972  9762546  9631482  9904312           2.83
ë¶€ì‚°  ê²½ìƒê¶Œ  3655437  3512547  3393191  3448737           1.63
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2466338  2517680  2632035  2890451           9.82
ëŒ€êµ¬  ê²½ìƒê¶Œ  2473990  2456016  2431774  2466052           1.41

In [24]:
# ì¶”ê°€
df["2005-2010 ì¦ê°€ìœ¨"] = ((df["2010"] - df["2005"]) / df["2005"] * 100).round(2)
df

íŠ¹ì„±   ì§€ì—­     2000     2005     2010     2015  2005-2010 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9853972  9762546  9631482  9904312          -1.34
ë¶€ì‚°  ê²½ìƒê¶Œ  3655437  3512547  3393191  3448737          -3.40
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2466338  2517680  2632035  2890451           4.54
ëŒ€êµ¬  ê²½ìƒê¶Œ  2473990  2456016  2431774  2466052          -0.99

In [23]:
# ì‚­ì œ
del df["2010-2015 ì¦ê°€ìœ¨"]
df

íŠ¹ì„±   ì§€ì—­     2000     2005     2010     2015
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9853972  9762546  9631482  9904312
ë¶€ì‚°  ê²½ìƒê¶Œ  3655437  3512547  3393191  3448737
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2466338  2517680  2632035  2890451
ëŒ€êµ¬  ê²½ìƒê¶Œ  2473990  2456016  2431774  2466052

#### ì—´ ì¸ë±ì‹±
ë°ì´í„°í”„ë ˆì„ì€ ì—´ê³¼ í–‰ì˜ ì¸ë±ìŠ¤ë¥¼ ëª¨ë‘ ê°€ì§€ê³  ìˆì–´ì„œ ì—´ ë¼ë²¨ì„ í†µí•œ ì¸ë±ì‹±ë„ ê°€ëŠ¥  

ë§Œì•½ ë¬¸ìì—´ í˜•íƒœì˜ í•˜ë‚˜ì˜ ì—´ ë¼ë²¨ì„ ì¸ë±ì‹± í•œë‹¤ë©´ ì‹œë¦¬ì¦ˆ ê°ì²´ë¡œ ë°˜í™˜   
ë§Œì•½ ë°°ì—´ í˜¹ì€ ë¦¬ìŠ¤íŠ¸ í˜•íƒœì˜ ì—´ ë¼ë²¨ì„ ì¸ë±ì‹± í•œë‹¤ë©´ ë°ì´í„°í”„ë ˆì„ ê°ì²´ë¡œ ë°˜í™˜

In [25]:
df['ì§€ì—­']

ë„ì‹œ
ì„œìš¸    ìˆ˜ë„ê¶Œ
ë¶€ì‚°    ê²½ìƒê¶Œ
ì¸ì²œ    ìˆ˜ë„ê¶Œ
ëŒ€êµ¬    ê²½ìƒê¶Œ
Name: ì§€ì—­, dtype: object

In [26]:
df[['2010', '2015']]

íŠ¹ì„±     2010     2015
ë„ì‹œ
ì„œìš¸  9631482  9904312
ë¶€ì‚°  3393191  3448737
ì¸ì²œ  2632035  2890451
ëŒ€êµ¬  2431774  2466052

In [27]:
df[['ì§€ì—­']]

íŠ¹ì„±   ì§€ì—­
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ
ë¶€ì‚°  ê²½ìƒê¶Œ
ì¸ì²œ  ìˆ˜ë„ê¶Œ
ëŒ€êµ¬  ê²½ìƒê¶Œ

ì—´ ì¸ë±ì‹±ì€ ì •ìˆ˜ ì¸ë±ìŠ¤ë¡œ ì¸ë±ì‹±ì„ í•  ìˆ˜ ì—†ìŒ

In [ ]:
df[0]

ì›ë˜ë¶€í„° ì •ìˆ˜í˜•íƒœì˜ ì—´ ì¸ë±ìŠ¤ë¥¼ ê°€ì§„ë‹¤ë©´ ì •ìˆ˜ ì¸ë±ìŠ¤ë¡œ ì¸ë±ì‹±ì´ ê°€ëŠ¥

In [30]:
import pandas as pd
import numpy as np

In [31]:
df2 = pd.DataFrame(np.arange(12).reshape(3, 4))
df2

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [32]:
df2[2]

0     2
1     6
2    10
Name: 2, dtype: int32

In [33]:
df2[[1, 3]]

   1   3
0  1   3
1  5   7
2  9  11

#### í–‰ ì¸ë±ì‹±
ë°ì´í„°í”„ë ˆì„ì—ì„œ í–‰ìœ¼ë¡œ ì¸ë±ì‹±ì„ í•˜ê³ ìí•œë‹¤ë©´ ë°˜ë“œì‹œ ìŠ¬ë¼ì´ì‹±ìœ¼ë¡œ ì¸ë±ì‹±í•˜ì—¬ì•¼ í•¨

In [34]:
df[:1]

íŠ¹ì„±   ì§€ì—­     2000     2005     2010     2015  2005-2010 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9853972  9762546  9631482  9904312          -1.34

In [35]:
df[1:2]

íŠ¹ì„±   ì§€ì—­     2000     2005     2010     2015  2005-2010 ì¦ê°€ìœ¨
ë„ì‹œ
ë¶€ì‚°  ê²½ìƒê¶Œ  3655437  3512547  3393191  3448737           -3.4

In [36]:
df['ì„œìš¸':'ë¶€ì‚°']

íŠ¹ì„±   ì§€ì—­     2000     2005     2010     2015  2005-2010 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9853972  9762546  9631482  9904312          -1.34
ë¶€ì‚°  ê²½ìƒê¶Œ  3655437  3512547  3393191  3448737          -3.40

#### ê°œë³„ ë°ì´í„° ì¸ë±ì‹±
í•˜ë‚˜ì˜ í•„ë“œ ê°’ì„ ì–»ê³ ì í•œë‹¤ë©´ ì—´ë¡œ ë¨¼ì € ì¸ë±ì‹± í›„ í–‰ìœ¼ë¡œ ë‹¤ì‹œ ì¸ë±ì‹± í•¨

In [37]:
df["2015"]["ì„œìš¸"]

9904312

In [82]:
practice_data = {
    "êµ­ì–´": [80, 90, 70, 30],
    "ì˜ì–´": [90, 70, 60, 40],
    "ìˆ˜í•™": [90, 60, 80, 70],
}
practice_columns = ["êµ­ì–´", "ì˜ì–´", "ìˆ˜í•™"]
practice_index = ["ì¶˜í–¥", "ëª½ë£¡", "í–¥ë‹¨", "ë°©ì"]
practice_df = pd.DataFrame(practice_data, index=practice_index, columns=practice_columns)

practice_df

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™
ì¶˜í–¥  80  90  90
ëª½ë£¡  90  70  60
í–¥ë‹¨  70  60  80
ë°©ì  30  40  70

In [83]:
# ëª¨ë“  í•™ìƒì˜ ìˆ˜í•™ ì ìˆ˜ë¥¼ ì‹œë¦¬ì¦ˆë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
practice_df['ìˆ˜í•™']

ì¶˜í–¥    90
ëª½ë£¡    60
í–¥ë‹¨    80
ë°©ì    70
Name: ìˆ˜í•™, dtype: int64

In [59]:
# ëª¨ë“  í•™ìƒì˜ êµ­ì–´ì™€ ì˜ì–´ ì ìˆ˜ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
practice_df[['êµ­ì–´', 'ì˜ì–´']]

    êµ­ì–´  ì˜ì–´
ì¶˜í–¥  80  90
ëª½ë£¡  90  70
í–¥ë‹¨  70  60
ë°©ì  30  40

In [90]:
# ëª¨ë“  í•™ìƒì˜ ê° ê³¼ëª© í‰ê·  ì ìˆ˜ë¥¼ ìƒˆë¡œìš´ ì—´ë¡œ ì¶”ê°€í•œë‹¤.
practice_df['í‰ê· '] = ((practice_df['êµ­ì–´'] + practice_df['ì˜ì–´'] + practice_df['ìˆ˜í•™']) / 3).round(2)
practice_df

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™     í‰ê·
ì¶˜í–¥  80  90  90  86.67
ëª½ë£¡  90  70  60  73.33
í–¥ë‹¨  70  60  80  70.00
ë°©ì  30  40  70  46.67

In [93]:
# ë°©ìì˜ ì˜ì–´ ì ìˆ˜ë¥¼ 80ì ìœ¼ë¡œ ìˆ˜ì •í•˜ê³  í‰ê·  ì ìˆ˜ë„ ë‹¤ì‹œ ê³„ì‚°í•œë‹¤.
practice_df['ì˜ì–´']['ë°©ì'] = 80
practice_df['í‰ê· '] = ((practice_df['êµ­ì–´'] + practice_df['ì˜ì–´'] + practice_df['ìˆ˜í•™']) / 3).round(2)
practice_df

C:\Users\ITPS\AppData\Local\Temp\ipykernel_1168\2829842738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  practice_df['ì˜ì–´']['ë°©ì'] = 80

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™     í‰ê·
ì¶˜í–¥  80  90  90  86.67
ëª½ë£¡  90  70  60  73.33
í–¥ë‹¨  70  60  80  70.00
ë°©ì  30  80  70  60.00

In [95]:
# ì¶˜í–¥ì˜ ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
practice_df[:'ì¶˜í–¥']

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™     í‰ê·
ì¶˜í–¥  80  90  90  86.67

In [97]:
# í–¥ë‹¨ì˜ ì ìˆ˜ë¥¼ ì‹œë¦¬ì¦ˆë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
practice_df.T['í–¥ë‹¨']

êµ­ì–´    70.0
ì˜ì–´    60.0
ìˆ˜í•™    80.0
í‰ê·     70.0
Name: í–¥ë‹¨, dtype: float64